
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> Sign up</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/signup.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signup" id="form" style="margin-top: 100px;" >
      {{!-- <img class="mb-4" src="" alt="" width="72" height="72"> --}}

      <div class="form-group tab">
        <h5 class=" mb-3 font-weight-normal" style="margin-top: 50px;">Type in the text below:</h5>
        <label for="inputPattern1" style="font-size: 10px;" class="">The quick brown fox jumps over the lazy dog</label>
        <input type="text" id="pattern1" class="form-control disable-autocomplete" name="pattern1" placeholder="" required autofocus>
    </div>

    <div class="form-group tab">
        <h5 class=" mb-3 font-weight-normal" style="margin-top: 50px;">Repeat: Type in the text below:</h5>
        <label for="inputPattern1" style="font-size: 10px;" class="">The quick brown fox jumps over the lazy dog</label>
        <input type="text" id="pattern2" class="form-control disable-autocomplete" placeholder="" name="pattern2" required autofocus>
    </div>
    <div class="form-group tab">
        <h5 class=" mb-3 font-weight-normal" style="margin-top: 50px;">Last one: Type in the text below:</h5>
        <label for="inputPattern1" style="font-size: 10px;" class="">The quick brown fox jumps over the lazy dog</label>
        <input type="text" id="pattern3" class="form-control disable-autocomplete" placeholder="" name="pattern3" required autofocus>
    </div>

    <div class="tab signup-submit">
      <h5 class=" mb-3 font-weight-normal" style="margin-top: 50px;">Sign Up</h5>
      <div class="form-group">
            <label for="inputName" class="sr-only">Username</label>
        <input type="text" id="inputName" class="form-control" placeholder="Username" required>
      </div>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        </div>
      <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      </div>
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Submit</button>
    </div>

    
    <div style="overflow:auto;">
      <div style="float:right;">
        <button type="button" class="btn" id="prevBtn" onclick="nextPrev(-1)" style="display: none;">Previous</button>
        <button type="button" class="btn" id="nextBtn" onclick="nextPrev(1)">Next</button>
      </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>

      <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>

    <script src="https://api.typingdna.com/scripts/typingdna.js" ></script>
    <script src="vendor/auto-complete-disabler.js"></script>
    <script src="vendor/auto-complete-visualizer.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>

    <script src="js/signup.js"></script>
  </body>
</html>
